@use "./../../../public/styles/colores.scss";

header {
  height: 100px;
}

#menuButton {
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    padding: 9px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    position: absolute; top: 30px; left: 10px;
  }
  
  #menuButton:hover {
    background-color: #d3d3d3; /* Gris claro */
    color: white;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2; /* Asegura que el sidebar esté encima del overlay */
    top: 0;
    left: 0;
    background-color: #333; /* Gris oscuro */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
  }
  
  .sidebar.open {
    width: 250px; /* Ancho del sidebar cuando está abierto */
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: 'Source Code Pro', monospace;
  }
  
  .sidebar a:hover {
    color: #d3d3d3; /* Gris claro */
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .sidebar .closebtn:hover {
    color: #d3d3d3; /* Gris claro */
  }
  
  /* Estilo del overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semitransparente */
    z-index: 1; /* Asegura que el overlay esté debajo del sidebar pero encima del contenido */
    transition: 0.3s;
  }

  img {
    height: 50px;
    margin-top: 20px;
    position: absolute; top: 10px; right: 10px;
  }