<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<header>
    
    <!-- <i class='bx bx-menu' onclick="openSidebar()" id="menu"></i> -->
    <a [routerLink]="['/vista-previa']" routerLinkActive="active" > <img src="src\assets\mapi-logo.png" alt="mapi-logo" ></a>
    

    <!-- <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">×</a> 
       
    </div> -->

    <i class="bx bx-menu" (click)="openSidebar()" id="menu"></i>
    <div #mySidebar class="sidebar">
        <p>hola?</p>
        <p>esto funciona?</p>
        <p>por favor</p>
        <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">×</a> 
    </div>
    
</header>
