@use "./../../../public/styles/colores.scss";
.header-container{
display: flex;
align-items: center; /* Alinea verticalmente los elementos */
padding: 10px ;
background-color: #ffffff;
justify-content: space-between; /* Fondo del header */
}


#menuButton
{
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  #menuButton:hover {
    color: #d3d3d3; /* Gris claro */
    
  }

  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
    padding-top: 20px; // Ajuste para alinear
    color: rgb(0, 0, 0);
  
    &.open {
      width: 250px;
    }
 
    .header-sidebar {
      display: flex;
      justify-content:space-around;
      padding-left: 10px ;
      padding-right: 10px ;
      transition: width 0.3s ease-in-out;
      background-color: #ffffff; 
      
     
  
      .closebtn {
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        color: #000000;
        flex-direction: column;
      
      
        &:hover {
          color: #2f2f2f; // Gris claro
        
      } 
    } 
  }

  .agregar-notas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del sidebar */
    padding: 0; /* Elimina padding adicional en el contenedor */
  
    #add-notes {
      display: flex;
      align-items: center; /* Alineación vertical del contenido */
      gap: 8px; /* Espaciado entre el ícono y el texto */
      width: 100%; /* El botón ocupará todo el ancho */
      font-size: 16px;
      font-weight: bold; /* Texto en negrita */
      color: #000000; /* Texto con un tono más claro que negro */
      padding: 10px 20px;
      padding-left: 15px; /* Espaciado interno */
      background-color: #ffffff; /* Fondo blanco */
      border: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Suavidad en los cambios */
      text-align: left; /* Alinea el texto a la izquierda */
    }
  
    #add-notes:hover {
      background-color: #f0f0f0; /* Fondo gris claro al pasar el mouse */
      color: #141414;
      border: 5px; /* Color del texto un poco más oscuro en hover */
    }
  
    i {
      font-size: 20px; /* Tamaño del ícono */
    }
  }
  

}
  
  
  /* Estilo del overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semitransparente */
    z-index: 1; /* Asegura que el overlay esté debajo del sidebar pero encima del contenido */
    transition: 0.3s;
  }

  img {
    height: 50px;
    margin-top: 5px; 
    position: absolute; top: 10px; right: 10px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
  }
