
<textarea id="titulo" name="to-do-list-titulo" [(ngModel)] = "tarea.content">Nueva tarea</textarea>
<button id="agregar-input" (click)="agregarInputs()">+</button>
<div class="tarea">
    <input type="checkbox">
        <input type="text"  #inputTarea (click)="agregarTarea(inputTarea.value)">
</div>

@for(input of cantInputs; track $index){
    <div class="tarea">
        <input type="checkbox">
            <input type="text"  #inputTarea (click)="agregarTarea(inputTarea.value)">
        </div>
}
<button id="agregar-tarea" (click)="guardarTarea()">Agregar tarea</button>
