
<main>
    <form id="formulario">
        <p id="titulo">Inicia sesión con tu cuenta de MAPI</p>
        <!-- <label for="email">Email</label>
        <input type="text" name="email" class="input" [(ngModel)]="datosLogin.usuario">
        <label for="contraseña" >Contraseña</label>
        <input type="password" name="contraseña" class="input" [(ngModel)]="datosLogin.password">
        <a>¿No recuerdas tu contraseña?</a>
        <button id="boton-continuar" (click)="login()">Continuar</button>
        <div id="login-registrarse">
            <p>Si aún no has creado tu cuenta, </p>
            <a>Registrate</a> -->
        <!-- </div> -->
        <button (click)="logIn()" type="submit">Sign in</button>
    </form>
    
</main>

