@use "./../../../../public/styles/colores.scss";

$last-positions: 36, 37, 38, 39, 40, 41, 42;

.calendar-container {
  padding: 1rem 2rem 2rem;

  button {
    margin-bottom: 1rem;
  }

  .calendar-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;

    .calendar-header {
      padding: 0.5rem;
      text-align: center;
      font-weight: bold;
      color: colores.$default-color-text;

      &:first-of-type {
        color: colores.$default-color-text-red;
      }
      // Selecciona el primero dentro de su tipo(domingo)
    }

    .calendar-body {
      min-height: 6rem;
      border: colores.$border-width solid colores.$border-color;
      padding: 0.5rem;
      position: relative;
      background-color: #fafafa;
      border-radius: 4px;

      &:not(.current-month) {
        background-color: #f9f9f9;

        span {
          color: #999999;
        }
      }

      &.current-day {
        background-color: #e3f2fd;

        span {
          display: inline-block;
          width: 1.7rem;
          height: 1.7rem;
          line-height: 1.7rem;
          border-radius: 50%;
          background-color: #135de6;
          color: #ffffff;
          text-align: center;
        }
      }

      span {
        font-size: 0.875rem;
        color: colores.$default-color-text;
      }

      &:nth-of-type(7n + 1) span {
        color: colores.$default-color-text-red;
      }//Comienza en el primero y va cada 7 

      // &:nth-of-type(#{$last-positions}) {
      //   border-bottom: colores.$border-width solid colores.$border-color;
      // }

    }
  }
}

p {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }