@use "./../../../../public/styles/colores.scss";

h1{
    text-align: center;
    margin: 0px;

}
#contenido{
    background-color: colores.$color-container-contenido;
    width: 1250px;
    height: 470px;
    // margin-left: 50px;
    // margin-top: 0px;
    border-radius: 50px;
    display: flex;
    margin: 0 auto; 
    margin-top: 50px; 
    display: flex; 
    // justify-content: center; 
    // align-items: center; 
    
}

#sector-notas{
    width: 800px;
    height: 250px;
    border-bottom: 1px solid colores.$color-borde;
    margin-left: 10px;
    margin-left: 50px;
    
}

#sector-lista{
    width: 200px;
    height: 470px;
    border-left: 1px solid colores.$color-borde;
    // margin-left: 50px;
    padding-left: 50px;
}

#sector-calendario{
    display: inline-block;
    width: 800px;
    height: 300px;
    margin-left: 50px;
    position: absolute; top: 450px; left: 130px;
}

p{
    font-size: 25px;
    cursor: pointer;

}
.titulos{
    font-weight: bold;
}

.nota{
    width:150px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .decoracion-nota{
        background-color: colores.$color-notas;
        width: 150px;
        height: 20px;
    }
}

.contenido-nota{
    background-color: colores.$color-simple;
    width: 80px;
}

#espacio-notas{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

