<header>
    <app-header></app-header>
</header> 

<main>
    <h1>BIENVENIDO A MAPI</h1>
    <div id="contenido"> 

        <div id="sector-notas-y-calendario">
            <div id="sector-notas">
                <p class="titulos">Notas</p>
                <div id="espacio-notas" class="scroll-container">


                    @if(!notasExistentes){
                        <p>Cargando...</p>
                    }@else {
                        @for (note of notasExistentes; track $index){
                    <!-- Aquí estás intentando recorrer las notas dinámicamente para mostrarlas en la vista. -->
                        <div class="contenido-nota" [routerLink]="['/notas-existentes', note.id]" >{{note.content}}</div>
                }
                    }
                   
                </div>
        
        </div>
           
            <div id="sector-calendario" [routerLink]="['/calendario']">
                <p class="titulos">Calendario</p>
                    <section id="calendario" style = 'width : 250px'>
                        <mat-calendar></mat-calendar>
                    </section>
            </div>

        </div>
            </div>
        </main>
