$color-fondo-login: #DCEDFF;
$color-notas: #fef4a7;
$color-todoList: #3891A6;
$color-calendario:#FFE8C2;
$color-contenido: beige;
$color-borde: rgb(182, 180, 180);
$color-simple: white;
$color-container-contenido: rgb(249, 249, 249);