$color-fondo-login: #DCEDFF;
$color-notas: #fef4a7;
$color-todoList: #8fabb2;
$color-calendario:#FFE8C2;
$color-contenido: beige;
$color-borde: rgb(182, 180, 180);
$color-simple: white;
$color-container-contenido: rgb(249, 249, 249);
$color-oscuro: #000000; 
$default-color-text: #333333;
$default-color-text-red: #ff4040;
$border-color: #e5e5e5;
$border-width: 1px;
