@use "./../../../../public/styles/colores.scss";
#titulo-nota {
    border: none;
    outline: none; 
    width: 600px;
    font-size: 40px;
    margin: 30px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    background-color: colores.$color-simple; 
    resize: none;
    font-family: 'Arial', sans-serif; 
}
 
textarea{
    color: #000000;
}

.nota-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}

.nota-content-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

#contenido-nota {
    border: none;
    outline: none; 
    width: 80%;
    font-size: 20px;
    height: 500px; 
    border-radius: 10px;
    background-color: colores.$color-notas; 
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Arial', sans-serif; 
}

#boton-agregar-nota {
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px; 
    border: none; 
    cursor: pointer;
    background: linear-gradient(135deg, colores.$color-notas, #ffff7c); /* Degradado atractivo */
    color: #555555; 
    padding: 12px 20px; 
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
  }
  
 
  #boton-agregar-nota:hover {
    transform: translateY(-2px); /* Sutil efecto de elevación */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3); /* Aumentar la sombra en hover */
    background: linear-gradient(135deg, #fbf54e, #ffff3a); /* Cambio sutil de degradado */
  
  }



