#titulo-nota {
    border: none;
    outline: none; /* Evita que los bordes se pongan negros al escribir */
    width: 600px;
    font-size: 40px;
    margin: 30px;
    display: block;
    text-align: center;
    background-color: #ffffff; /* Fondo blanco para el título */
    resize: none;
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
}

.nota-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    flex-direction: column;
    align-items: center;
}

.nota-content-container {
    position: relative;
    width: 850px;
}

#contenido-nota {
    border: none;
    outline: none; /* Evita que los bordes se pongan negros al escribir */
    width: 80%;
    font-size: 20px;
    height: 400px; /* Ajusta la altura del área de texto */
    border-radius: 10px;
    background-color: #f9f3c1; /* Fondo amarillo pastel */
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
}

#boton-agregar-nota {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: none; /* Sin fondo */
    color: #4CAF50; /* Color verde para el texto del botón */
}

#boton-agregar-nota:hover {
    color: #45a049; /* Verde más oscuro al pasar el mouse */
}


/* Oculta el tooltip por defecto del navegador */
#boton-agregar-nota[title] {
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

#boton-agregar-nota[title]:hover::after {
    content: attr(title); /* Muestra el contenido del atributo title */
    position: absolute;
    top: -30px; /* Ajusta la posición del tooltip */
    right: 0;
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 4px;
    white-space: nowrap; /* Evita que el texto se parta en varias líneas */
    z-index: 10;
    opacity: 1; /* Hace que el tooltip sea visible */
    pointer-events: none; /* Evita que el mouse interactúe con el tooltip */
    transition: opacity 0.2s ease-in-out;
}





