<header>
    <app-header></app-header>
</header>


<textarea id="titulo-nota"  placeholder="Nueva nota"  [(ngModel)]="notas.content"></textarea>   
        
<button type="button" id="boton-agregar-nota" (click)="guardarNota()">Guardar la nota</button>
<textarea id="contenido-nota" placeholder="Empiece a escribir aquí..."  [(ngModel)]="notas.description"></textarea>        


<div class="nota-container">
    <textarea id="titulo-nota"  placeholder="Nueva nota"  [(ngModel)]="notas.content"></textarea>   

    <div class="nota-content-container">
        <button type="button" id="boton-agregar-nota" (click)="guardarNota()">
            <i class='bx bx-list-check'></i>
        </button>
    </div>

    <textarea id="contenido-nota" placeholder="Empiece a escribir aquí..."  [(ngModel)]="notas.description"></textarea>        

</div>
