#titulo-nota{
    border: white;
    width: 600px;
    font-size: 40px;
    margin-left: 230px;
    margin-top: 60px;
}

#contenido-nota{
    border: white;
    width: 850px;
    font-size: 20px;
    height: 800px;
    background-color: beige;
    margin-left: 230px;

}
